.header {
    display: flex;
}

.header-info {
    flex: 10;
    color: var(--primary);
    font-weight: 700;
}

.current-date {
    font-size: 30px;
    margin-bottom: 15px;
}

.current-todos{
    font-size: 14px;
}

@media (max-width: 768px) {
    .current-date {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .current-todos{
        font-size: 10px;
    }
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    cursor: pointer;
    border: none;
    position: relative;
    transition: background-color 0.3s ease;
}

.add-button:hover {
    background-color: var(--lightened);
}

.add-button::before,
.add-button::after {
  content: " ";
  width: 2px;
  height: 40%;
  background-color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
.add-button::before {
  transform: translate(-50%, -50%) rotate(90deg);
}