.todo-item {
    display: flex;
    margin: 20px 0;
}

.todo-item-inner {
    flex: 10;
    height: 50px;
    border: 1px solid var(--primary);
    border-radius: 8px;
    display: flex;
}

.todo-item-complete-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item-complete-button {
    background-color: var(--primary);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: none;
    position: relative;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}

.todo-item-complete-button:hover {
    opacity: 1
}

.todo-item-complete-button.completed {
    opacity: 1
}

.todo-item-body {
    flex: 8;
    line-height: 50px;
    font-size: 16px;
    color: var(--primary);
}

.todo-item-body span {
    position: relative;
}

.todo-item-body-liner {
    width: 0%;
    height: 1px;
    background-color: var(--primary);
    position: absolute;
    transform: translate(0, -50%);
    left: 0%;
    top: 50%;
    transition: width 0.3s ease-in-out;
}

.todo-item-body-liner.completed {
    width: 100%;
}

.todo-item-deadline {
    flex: 1;
    line-height: 50px;
    font-size: 12px;
    color: var(--lightened);
}

.todo-item-edit-button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-item-edit-button {
    width: 50px;
    height: 100%;
    position: relative;
    background-color: white;
    border: none;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.todo-item-edit-button:hover {
    opacity: 1
}

.todo-item-delete-button-container {
    flex: 1;
    position: relative;
}

.todo-item-delete-button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background: #FF6D6D;
    box-shadow: 0px 0px 13px -5px rgba(175, 15, 15, 0.95);
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.todo-item-delete-button:hover {
    background: #fd4b4b;
}

.icon {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.tick-icon {
    width: 50%;
    height: 50%;
}

.edit-icon {
    width: 60%;
    height: 60%;
}

.remove-icon {
    width: 60%;
    height: 60%;
}